:root {
  --primary-color: #FFFFFF;
  --secondary-color: #A7734A;
  --background: #212121;
  --background-lighter: #313131;
  /* Typography */
  --font-body: "Inter", sans-serif;
  --font-color: #ffff;
  --font-size-body: 14px;
  --font-size-btn: 16px;
  --font-weight-normal: 300;
  --font-weight-btn: 400;
  --font-weight-seminormal: 600;
  --font-weight-bold: 700;
  /* I-Pad and Web */
  --font-size-iw-h1: 36px;
  --font-size-iw-h2: 24px;
  --font-size-iw-h3: 20px;
  /* Mobile */
  --font-size-m-h1: 32px;
  --font-size-m-h2: 24px;
  --font-size-m-h3: 16px;
}

/* VARIABLES */
.btn-text {
  font-size: var(--font-size-btn);
}

body {
    margin: 0px;
    background-color: var(--background);
    /* color: var(--primary-color); */
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--font-color);
    font-weight: var(--font-weight-normal);
}

.btn-style {
    height: 53px;
    width: 192px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    border-style: none;
    padding: 0px;
    color: var(--font-color);
    margin: 0px;
    font-weight: var(--font-weight-btn);
}

.margin-sides {
    padding-left: 150px;
    padding-right: 150px;
}

.img-style {
    width: 406px;
    height: 268px;
}

/* -----HERO SECTION----------------------------------------------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 384px, 235px;
    margin-top: 183px;
}

/* About me section */
.about-me {
    margin-top: 18px;
}

.about-me h1 {
    font-size: var(--font-size-iw-h1);
    font-weight: var(--font-weight-normal);
}

.about-me span {
    font-weight: var(--font-weight-bold);
    margin-top: 15px;
}

.about-me p {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: var(--font-size-body);
}

/* Portrait section */
.portrait {
    display: flex;
    justify-content: end;
}

.portrait img {
    width: 274px;
    height: 384px;
}

/* Contact me and arow section */
.contact-arrow {
    grid-column: 1 / 3; /* Starts in the first column and spans two columns */
    grid-row: 2; /* Starts in the second row */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 235px;
}

.contact-arrow .arrow {
    height: 108px;
}

.contact h3 {
    font-size: var(--font-size-iw-h3);
    margin: 0px;
}

.contact p {
    margin-top: 23px;
    margin-bottom: 0px;
}


/* -----MAIN SECTION----------------------------------------------------------- */
main {
    height: 1809px;
}
/* ----My Work------------------ */
.my-work {
    height: 815px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-lighter);
}

.my-work img {
    width: 518px;
    height: 713px;
    margin-top: 62px;
    margin-bottom: 40px;
}

.my-work-item-1 {
    margin-top: 110px;
    margin-bottom: 509px;
}

.my-work-item-1 h1 {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-iw-h1);
    margin: 0px;
}

.my-work-item-1 .span {
    font-weight: var(--font-weight-bold);
    margin-top: 15px;
}

.my-work-item-1 button {
    margin-top: 40px;
}


/* ----My Skills------------------ */
/* Title and arrow */
.my-skills {
    height: 994px;
    display: flex;
    flex-direction: column;
}

.arrow-title {
    margin-top: 109px;
    display: flex;
    justify-content: space-between;
}

.arrow-title .title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
}

.arrow-title h1 {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-iw-h2);
    margin: 0px;
}

.arrow-title .span {
    font-weight: var(--font-weight-bold);
}

.arrow-title button {
    margin-top: 40px;
}

.arrow-title img {
    height: 82px;
}

/* -------Web Development---------- */
.web-development {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.web-development-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

.web-development-text h2 {
    margin: 0px;
    font-weight: var(--font-weight-seminormal);
}


.web-development-text p {
    margin-top: 40px;
    margin-bottom: 44px;
    text-align: right;
}

.web-development-text button {
    margin-top: 0px;
}

/* UI/UX Design */
.ui-ux-design {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 140px;
    margin-bottom: 40px;
}

.ui-ux-design-text {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.ui-ux-design-text h2 {
    margin: 0px;
    font-weight: var(--font-weight-seminormal);
}


.ui-ux-design-text p {
    margin-top: 40px;
    margin-bottom: 44px;
}

.ui-ux-design-text button {
    margin-top: 0px;
}


/* -----FOOTER SECTION----------------------------------------------------------- */
footer {
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-lighter);
    gap: 40px;
    padding: 10px 0px 10px 0px;
}

footer p, footer h1 {
    margin: 0px;
}

footer h1 {
    font-size: var(--font-size-iw-h1);
    font-weight: var(--font-weight-bold);
}


/* ---IPAD/TABLETS------------------------------------------- */
@media screen and (min-width: 834px) and (max-width: 1279px) {
    /* Variables */
    .margin-sides {
        padding-left: 50px;
        padding-right: 50px;
    }

    .img-style {
        width: 285px;
        height: 188px;
    }

    /* -------MAIN ---------------------------------------- */
    main {
        height: 1535px;
    }
  /* Main > Work */
    .my-work {
        height: auto;
    }

    .my-work img {
        height: 565.2px;
        width: 411.3px;
        margin-top: 34px;
        margin-bottom: 34.8px;
    }

    .my-work-item-1 {
        margin-top: 78px;
        margin-bottom: 360px;
        height: 196px;
    }

    /* -----My Skills--------- */
    .arrow-title {
        margin-top: 35px;
    }

    .my-skills{
        height: 901px;
    }

    /* Web Development */
    .web-development {
        gap: 39px;
    }

    /* UI/UX Design */
    .ui-ux-design {
        gap: 39px;
        margin-top: 120px;
    }

}

/* ---MOBILE------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 833px) {
    /* ----VARIABLES------------------------------------- */
    .margin-sides {
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-style {
        height: 103px;
        width: 156px;
    }

    /* ------HERO SECTION---------------------------------- */
    .hero-section {
        height: 603px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 70px;
    }

    /* Portrait Section */
    .portrait {
        order: -1;
        justify-content: center;
    }

    .portrait img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }

    /* About Me Section */
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .about-me h1 {
        margin: 0px;
    }

    .about-me p {
        text-align: center;
        margin: 20px 0px 32px 0px;
    }

    .about-me button {
        margin: 32px 0px 20px 0px;
    }

    /* Contact and Arrow Section */
    .contact-arrow {
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 97px;
        margin-bottom: 30px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
    }

    .contact h3{
        font-size: var(--font-size--m-h3);
    }

    .contact p {
        font-size: var(--font-size-body);
        margin-top: 15px;
    }

    .arrow img {
        /* height: 51px; */
        width: 10px;
    }

    .contact-arrow .arrow {
        height: 97px;
        order: -1;
    }

    /* ----MAIN SECTION--------------------------------------------- */
    main {
        height: auto;
    }

    /* MY WORK--------- */
    .my-work {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .my-work-item-1 {
        display: flex;
        justify-content: space-between;
        margin: 37px 0px 25px 0px;
        align-items: center;
    }

    .my-work-item-1 h1 {
        font-size: var(--font-size-m-h1);
    }

    .my-work img {
        height: 483.58px;
        width: 351.9px;
        margin: 0px 27px;
    }

    .my-work-item-1 button {
        margin-top: 0px;
    }

    .my-work-item-2 {
        margin-bottom: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* MY SKILLS---------- */
    .my-skills {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Arrow-title section */
    .arrow-title {
        margin: 35px 0px 26px 0px;
    }

    .arrow-title .title h1{
        font-size: var(--font-size-m-h1);
    }

    /* Web Development */
    .web-development {
        flex-direction: column;
        margin-top: 26px;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .web-development-text {
        align-items: center;
        justify-content: center;
    }

    .web-development-text h2 {
        font-size: var(--font-size-m-h2);
    }

    .web-development p {
        text-align: center;
        margin: 15px 0px 30px 0px;
    }

    /* UI/UX Design */
    .ui-ux-design {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .ui-ux-design-text {
        align-items: center;
        justify-content: center;
    }

    .ui-ux-design img {
        order: -1;
    }

    .ui-ux-design-text h2 {
        font-size: var(--font-size-m-h2);
    }

    .ui-ux-design p {
        text-align: center;
        margin: 15px 0px 30px 0px;
    }

    /* ------FOOTER------------------------------------------------ */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 0px;
    }

    footer h1 {
        text-align: center;
        font-size: var(--font-size-m-h2);
        margin-top: 51px;
        margin-bottom: 29px;
    }

    footer p {
        margin-top: 31px;
        margin-bottom: 51px;
    }


}